body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.container {
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 300px;
    text-align: center;
}

h1, h2 {
    margin-bottom: 20px;
}

input[type="text"], input[type="email"], input[type="password"], input[type="datetime-local"], select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #5cb85c;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}

a {
    display: block;
    margin-top: 10px;
    color: #5cb85c;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

label {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Mensagem de erro */
.error-message {
    color: red;
}

/* Mensagem de sucesso */
.success-message {
    color: green;
}